body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__h1 {
  color: rgb(119, 119, 119);
  text-transform: uppercase;
  font-size: 30px;
}

.container__pass {
  color: rgb(84, 179, 134);
  font-size: 24px;
}


.dati {
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(168, 193, 190);
  color: rgb(9, 144, 137);
}
